
ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
ul li{
    float: left;
    width: 150px;
    height: 30px;
    background-color: black;
    opacity: .8;
    line-height: 30px;
    text-align: center;
    font-size: 20px;
    margin-right: 20px;
}

ul li a{
    text-decoration: none;
    color: white;
    display: block;
}
ul li ul li{
    display: none;
}
ul li a:hover{
    background-color: greenyellow;
}
ul li:hover ul li{
    display: block;
}