<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/apprvl.css' %}">
      <link rel="stylesheet" href="{% static 'css/adm 2.css' %}">
    <title>Hello, world!</title>
  </head>
  <body>
     <h1 style="font-family: Algerian;font-size: 70px;color: red;text-align: center;padding: 60px;text-shadow: 5px 5px 5px black">WELFARE MANAGEMENT SYSTEM</h1>
 <marquee><font style="font-family: 'Arial Black';color: deeppink;font-size: 20px"> POWER has only one DUTY secure the SOCIAL WELFARE people!!!!</font></marquee>
 <br>
 <br>

 <h2 style="font-family:'Arial Black';font-size: 30px;text-shadow: 5px 5px 5px orange;text-align: center">CORPORATE EMPLOYEE WELFARE NETWORK</h2>
 <br>
{% include 'admin_menu.html' %}
<br>
     <br>
     {% if request.session.status %}
     <h2 style="font-family: Algerian;font-size: 30px;color: red;text-align: center">ACCEPTED USERS DETAILS</h2>

     <table align="center" border="2">
         <tr style="background-color: lawngreen;text-align: center">
             <th style="text-align: center">ID</th>
             <th style="text-align: center">USERNAME</th>
             <th style="text-align: center">PASSWORD</th>
             <th style="text-align: center">ADDRESS</th>
             <th style="text-align: center">EMAIL-ID</th>
             <th style="text-align: center">CONTACT NO</th>
             <th style="text-align: center">COMAPANY-NAME</th>
             <th style="text-align: center">DATE-OF-BIRTH</th>
         </tr>
         {% for x in data %}
             <tr style="background-color: wheat">
             <th>{{ x.id }}</th>
             <th>{{ x.username }}</th>
             <th>{{ x.password }}</th>
             <th>{{ x.address }}</th>
             <th>{{ x.email }}</th>
             <th>{{ x.contactno }}</th>
             <th>{{ x.companyname }}</th>
             <th>{{ x.date_of_birth }}</th>
         {% endfor %}
     </table>
     {% else %}
       <h3 style="text-align: center;font-size: 20px;font-family: 'Agency FB';color: red">PLEASE DO LOGIN FIRST!!!!!!!!!!</h3>
    {% endif %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>