     <ul>
               <li><a href=""> USERS </a>
               <ul>
                   <li><a href="{% url 'approval_users' %}">Approval Users</a></li>
                   <li><a href="{% url 'accepted_users' %}">Accepted Users</a></li>
                   <li><a href="{% url 'rejected_users' %}">Rejected Users</a> </li>
               </ul>
               </li>
               <li><a href=""> REPORTS </a>
               <ul>
                   <li><a href="">View Thoughts</a> </li>
                   <li><a href="">View Events</a> </li>
                   <li><a href="">View Technical</a> </li>
                   <li><a href="">View Experience</a> </li>
                   <li><a href="">View Property</a> </li>
                   <li><a href="">View Sharemarket</a> </li>
                   <li><a href="">View Reference</a> </li>
                   <li><a href="">View Matrimonial</a> </li>
                   <li><a href="">View Celebrations</a> </li>
                   <li><a href="">View Travel</a> </li>
               </ul></li>
               <li><a href="{% url 'adm_logout' %}"> LOGOUT </a></li>
           </ul>
