<ul>
    <li><a href="#"> Thoughts</a>
    <ul>
        <li><a href="{% url 'add_though' %}">Add Thoughts</a> </li>
        <li><a href="{% url 'view_though' %}">View Thoughts</a> </li>
    </ul>
    </li>
    <li> <a href="#">Events</a>
       <ul>
           <li><a href="{% url 'add_event' %}">Add Event</a> </li>
           <li><a href="{% url 'view_event' %}">View Event</a> </li>
       </ul>
    </li>
    <li> <a href="#">Technical</a></li>
    <li> <a href="#">Work Experience</a></li>
    <li> <a href="#">Property</a></li>
    <li> <a href="#">Share market</a></li>
    <li> <a href="#">Reference</a></li>
    <li> <a href="#">Matrimonial</a></li>
</ul>

<h3 style="text-align: center"><a href="{% url 'user_logout' %}"><font style="font-size: 30px"> LOGOUT</font></a></h3>